<!--header start-->
<header class="header white-bg">
    <div class="sidebar-toggle-box">
        <div data-original-title="Toggle Navigation" data-placement="right" class="fa fa-bars tooltips"></div>
    </div>
    <!--logo start-->
    <a href="index.html" class="logo" >Health<span>Txt</span></a>
    <!--logo end-->

    <%= render 'layouts/signed_in/header/notify_row' %>

    <%= render 'layouts/signed_in/header/top_nav' %>

</header>
<!--header end-->